/*your custom css goes here*/
.bg-yellow {
    background-color: #ffc14b !important;
}
.bg-matt {
    background-color: #333 !important;
}
.text-matt {
    color: #333 !important;
}
.text-yellow {
    color: #ffc14b !important;
}


.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}

/*.sub-cat-menu {*/
/*    position: absolute;*/
/*    left: 5px;*/
/*    top: 100%;*/
/*    z-index: 999;*/
/*    background: #fff;*/
/*    width: max-content;*/
/*}*/
.rounded {
    border-radius: .75rem !important;
}
.rounded-25 {
    border-radius: .25rem !important;
}
.rounded-50 {
    border-radius: 50rem !important;
}
.border-2{
    border:1px solid black;
    border-color: black !important;
}
.border-bottom-10{
    border-bottom: 10px solid;
}
.border-top-10{
    border-top: 10px solid;
}
.slider_font_size{
    font-size: 20px;
}
.small_card_footer_style{
    background: none !important;
}
.min-h-130{
    min-height: 130px;
    max-height: 130px;
    min-width: 100%;
}
.min-h-215{
    min-height: 215px;
    max-height: 215px;
    min-width: 100%;
}
.single_category_card_hover:hover .product_hover{
    opacity: 0.9 !important;
}

.image-default{
    background: white;
    padding: 10px;
    border: 2px solid;
}
.link-font-size{
    font-size: 14px;
}

.slas-font-size{
    font-size: 14px;
}
.slick-dots{
    display: none;
}
#footer_payment ul li{
    list-style: none;
    margin-right: 15px;
}
#footer_payment .images img{
    max-height: 50px;
}
.margin_left_3o4{
    margin-left: 3.4rem;
}
.margin_left_1o5{
    margin-left: -1.5rem;
}
.margin_left_7{
    margin-left: -7rem;
}
.margin_left_8{
    margin-left: -9rem;
}
#main_footer_container ul li{
    color: black;
}
#main_footer_container ul li a{
    color: black;
    font-weight: bold;
}
.min-h-250{
    min-height: 300px;
}
.mt-5rem{
    margin-top: 5rem;
}
.single-card{
    max-width: 170px !important;
}
/*@media (min-width: 1200px){*/
/*    .single_category_card{*/
/*        max-width: 145px;*/
/*    }*/
/*}*/



.image_hover_gless{
    overflow: hidden;
}
.image_hover_gless::before {
    content: "";
    width: 59px;
    height: 97%;
    position: absolute;
    background: #6a9fb3a6;
    transform: skewX(45deg) translateX(150px);
    top: 0;
    left: -316px;
    transition: 0.5s all ease;

}


.image_hover_gless:hover::before {
    transform: skewX(45deg) translateX(-150px);
    top: 0;
    right: -316px;
}
.aiz-pagination .pagination {
    display: flex;
    justify-content: center;
}
.bg-grad {
    background-color: #f2f3f8;
    background-image: linear-gradient(315deg, #ded9d9 0%, #5c5d61 60%);
}
.bg-red-c {
    background-color: #cb1c22;
}
.bg-gray-900 {
    background-color: #121827;
}
.img-150 {
    height: 150px;
    max-width: 100%;
}
.min-h-150 {
    min-height: 150px;;
}

/*.botton-nave-li{*/
/*     display: flex;*/
/*     align-items: center;*/
/*     justify-content: center;*/
/*     flex-direction: column;*/
/*     width: auto;*/
/*    position:relative;*/
/*}*/
.margin_mx_28{
    margin:0px 28px;
}
.footer-list {
    list-style-type: disc !important;
    color: black !important;
}
.ml_3{
    margin-left:-3px;
}
.aiz-category-menu .category-nav-element:hover > a {
    position: relative;
    z-index: 10;
    background: #d5d6d8 !important;
    box-shadow: none !important;
}
.list-group-item{
    background-color: #d5d6d8 !important;
}
.aiz-category-menu .sub-cat-menu {
    background-color: #d5d6d8 !important;
    /*min-width: 1170px;*/
    /*max-width: 1170px;*/
    width: 100%;
    border-radius: 0 !important;
    position: absolute;
    /*left: 13%;*/
    top: 35px;
    padding: 0 !important;
    min-height: 300px;
    z-index: 999999999;
}
.card-columns-count{
    column-count: 4 !important;
}


.single_slider_content_counter{
    padding: 20px 35px;

}
.min_h_350{
    min-height:350px;
    color:white;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}


.common_shadow {
    box-shadow: inset 0px 0px 40px rgb(0 0 0 / 50%) !important;
}
.bg-button-colur{
    background:#DD137B none repeat scroll 0px 0px;
}
.single_full_slider {
    width: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;

}
.common_shadow{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

.single_full_slider a{
    color:black;
}
.single_full_slider a:hover{
    color:black;
}
.slider_count{
    font-size:35px;
    font-weight:600;
}
.slider_content_text{
    font-size:20px;
    font-weight:600;
}




@media (max-width: 575.98px) {
    .img-150 {
        height: 100px;
    }
}


@media (min-width: 768px) {
    .min_size_for_desktop {
        -ms-flex: 0 0 8.333333%;
        flex: 1 0 10.333%;
        max-width: 29.333%;
    }
}

@media (max-width: 576px){
    .min-h-130 {
         min-height: 70px;
         max-height: 70px;
    }
    .single-card p{
        font-width: normal !important;
        font-size: 8px;
    }
    .x_sm_category{
        margin-top: 0px !important;
    }
    .x_sm_category h3{
        text-align: center;
        font-size: 20px;
    }
    .x_fs_12{
        font-size: 12px !important;
    }
    .x_text_center{
        justify-content: center !important;
        align-content: center !important;
    }
    .sm_text_20{
        font-size: 20px;
    }
    .h-320px{
        height: 140px;
    }
    .slider_font_size{
        font-size: 12px;
        text-align: center;
    }
    .x_sm_logo {
        justify-content: center;
    }
    .x_sm_logo img{
        max-height: 30px;
    }

    .min-h-250{
        min-height: 180px;
    }
    #footer_payment ul li {
        list-style: none;
        margin-right: 7px;
    }
    #footer_payment .images img{
        max-height: 25px;
    }
    #footer_payment .margin_left_3o4{
        flex-direction: column;
    }
    .x_sm_mb_4{
        margin-bottom: 15px;
    }
    .sm_d_none{
        display:none !important;
    }
    .sm_header_logo_design{
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    	padding-left:5px !important;
    	padding-right:5px !important;
    }
    .sm_margin_left{
        margin-left:0 !important;
    }
    .margin_left_1o5 {
        text-align:left !important;
    }
    .sm_button_style{
        padding:.6rem 0.2rem !important;
    }
}
